body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}   
header {
    height: 20vh;
    background-color: rgb(12, 40, 64);
    overflow: hidden;
}
.container-header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 50%;
}
.logo img {
    max-width: 350px;
    width: 60vw;
}
.container-opcoes {
    margin: 10px;
    margin-right: 50px;
    display: flex;
    color: white;
    font-size: 2vw;
}
.container-opcoes option {
    cursor: pointer;
    margin: 10px;
}
.container-lineBurger {
    display: none;
    width: 60px;
    margin-right: 20px;
}
.container-lineBurger img {
    display: none;
    width: 10vw;
}
.banner {
    overflow: hidden;
}
.banner img {
    width: 100%;
    object-fit: cover;
}
.text-Banner{
    position: absolute;
    color: rgb(243, 243, 243);
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    color: white;
    margin-left: 20px;
    margin-top: 50px;

    
}
.text-Banner h1,h3{
    margin-left: 0px;
   
}
.text-Banner h1 {
font-size: 1.7em;
}
.text-Banner h3{
    margin-top:0px ;
    margin-bottom: 0px;
    font-size: 1.4em;
    line-height: 30px;
}
.container-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding: 80px;
    margin: auto;
    text-align: center;
}

.container-titulo h1,
.container-titulo h3 {
    margin: 0px;
    margin-bottom: 5px;
}
.container-titulo h1{
    margin-top:10px ;
    margin-bottom: 10px;
}

.container-box {
    display: flex;
    width: 90%;
    min-height: 300px;
    margin: auto;
    padding: 5px;
}

.content-box {
    width: calc(100% / 3);
    height: 230px;
    margin: 10px;
    overflow: hidden;   
}
.content-box img {
    height: 100%;
    object-fit: cover;
}
.texto-box {
    text-align: center;
    padding: 10px;
}
.texto-box h1 h3{
    margin: 10px;
}
@media only screen and (max-width: 900px) {
    header {
        height: 19vh;
        background-color: rgb(12, 40, 64);
        overflow: hidden;
    }

    .container-opcoes {
        font-size: 3vw;
    }

    .container-opcoes option {
        margin: 5px;
    }

    .container-titulo {
        width: 80%;
        padding: 0px;
        font-size: 1.7vw;
        text-align: center;
        margin: 10px auto;
    }

    .container-box {
        width: 85%;
        flex-direction: column;
        align-items: center;
    }

    .content-box {
        margin: 10px;
        width: 90%;
        height: auto;
    }

    .content-box img {
        width: 100%;
        object-fit: fill;
        height: auto;
    }
    .text-Banner {
        display: none;
    }
    .text-Banner h3 {
        font-size: 2em

    }
    .text-Banner h1 {
        font-size: 2.3em
    }

}
@media only screen and (max-width: 640px) {
    header {
        height: 13vh;
    }

    .container-opcoes option {
        display: none;
    }

    .container-lineBurger {
        display: block;
    }

    .container-lineBurger img {
        display: block;
        width: 100%;
    }
         .container-titulo h3 {
            font-size: 1.7em;
         }
    
         .container-titulo h1 {
             font-size: 2.3em;
         }
}
.sideBar{
    z-index: 99;
    height: 100vh;
    width: 00vw;
    background-color: rgb(12, 40, 64);
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-align: center;
    color: white;
    font-size: 6.5vw;
}
.sideBar .close{
    width: 100%;
    display: flex;
    justify-content: end;
    color: white;
}
.sideBar .close  h1{
    position: absolute;
    margin: 20px;
    margin-right: 40px;
    font-weight: 300;
}
.content-sideBar {
    width: 100%;
    height: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sideBar a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    color: white;

}
.sideBar hr{
    width: 250%;
}
.animationContato{
    transition: 1.5s;
    display: block;
    height: 0px;
    position: relative;
    overflow: hidden;
    bottom: 30px;   
}
.content-sideBar img{
width: 15px;
}
.animationContato a{
padding: 10px;
border-radius: 15px;
display: block;

}
.container-boxText{

        display: flex;
        width: 100%;
        margin: auto;
        padding: 10px 0px;
        background-color: rgb(2, 40, 64);
        justify-content: space-around;
        align-items: center;
        color: white;
}
.boxText{
    width: calc(100%/2);
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
 .text{
    width: calc(70%/2);
    text-align: start;
    font-size: 1.5vw;
}

.boxText.box-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4vw;
    justify-items: center;
    align-items: center;
}
.element-grid{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 21, 33);
    width: 80%;
    height: 70%;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    font-size: 1.15em
    
}
.container-grafico{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: calc(100%/2);

}
.container-grafico img{
    width: 20vw;
}
@media only screen and (max-width: 900px){
.text{
    font-size: 1.7vw;
    }
}
@media only screen and (max-width: 640px) {

.container-boxText {
    width: 100%;
    flex-direction: column;
    }
.boxText {
    width: 90%;
    flex-direction: column;
    align-items: center;
    
        }
.text{
        font-size: 3vw;
    text-align: center;
}
.element-grid {
    width: calc(150%/2);
    height: calc(120%/2);
    margin: 10px;
    font-size: 3vw;
   
}
.container-grafico {
    width: 100%;

}

.container-grafico img {
    width: 30vw;
    }   
}
.textDemo{
    margin: 20px;
    width: 100%;
    display: flex;
    font-size: 1.5vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textDemo h1,h2{
  margin: 5px;
}

@media only screen and (max-width: 900px) {
    .textDemo{
    width: 80%;
    padding: 0px;
    font-size: 2.5vw;
    text-align: center;
    margin: 10px auto;
}}
.rodape{
    color: white;
    width: 100%;
    background-color: rgb(2, 40, 64);
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}
.contatosContainer{
    display: flex;
    flex-direction: column;
}
.contatosContainer a{
 color: white;
 text-decoration: none;
 margin: 5px;
font-weight: bold;
font-size: 1em;

}
.rodape-contatos img{
width: 15px;

}
.rodape-endereço, .rodape-horario{

    text-align: center;
    
}
.rodape h5{
    font-size: 1em;
}

@media only screen and (max-width: 640px) {

.rodape {
        color: white;
        width: 99vw;
        background-color: rgb(2, 40, 64);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .contatosContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


