body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.elemento {
    opacity: 0;
    /* Inicialmente, o elemento está oculto */
    transform: translateY(20px);
    /* O elemento é deslocado para baixo */
    transition: opacity 0.9s ease, transform 0.5s ease;
    /* Transições suaves */
}
.elemento.animado {
    opacity: 1;
    /* O elemento é exibido gradualmente */
    transform: translateY(0);
    /* O elemento é reposicionado para a posição original */}

header {
    height: 20vh;
    background-color: rgb(12, 40, 64);

   
}
.container-header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 40%;
}
.logo img {
    width: 100%;

}
.container-opcoes {
    margin: 10px;
    margin-right: 50px;
    display: flex;
    color: white;
    font-size: 2vw;
    align-items: center;
}
.container-opcoes a {
    cursor: pointer;
    margin: 10px;
    color: white;
    text-decoration: none;
}
.container-lineBurger {
    display: none;
    width: 60px;
    margin-right: 20px;
}
.container-lineBurger img {
    display: none;
    width: 10vw;
}
.banner {
    overflow: hidden;
}
.banner img {
    width: 100%;
    object-fit: cover;
}
.text-Banner{
    position: absolute;
    color: rgb(243, 243, 243);
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    color: white;
    margin-left: 20px;
    margin-top: 50px;

}
.text-Banner h1,h3{
    margin-left: 0px;
   
}
.text-Banner h1 {
    font-size: 1.7em;

}
.text-Banner h3{
    margin-top:0px ;
    margin-bottom: 0px;
    font-size: 1.4em;
    line-height: 30px;
}
.container-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 30px 30px 30px;
    margin: auto;
    text-align: center;
}

.container-titulo h1,
.container-titulo h3 {
    margin: 0px;
    margin-bottom: 5px;
}
.container-titulo h1{
    margin-top:10px ;
    margin-bottom: 10px;
}

.container-box {
    display: flex;
    width: 90%;
    min-height: 300px;
    margin: auto;
    padding: 5px;
}

.content-box {
    width: calc(100% / 3);
    height: 230px;
    margin: 10px;
    overflow: hidden;   
}
.content-box img {
    height: 100%;
    object-fit: cover;
}
.texto-box {
    text-align: center;
    padding: 10px;
}
.texto-box h1 h3{
    margin: 10px;
}

@media only screen and (max-width: 900px) {
.logo {
        width: 85%;
    }
    body h1 {
        font-size: 1.5rem;
    
        }
    body h3{
        font-size: 1rem;
    
    }
    header {
        height: 19vh;
        background-color: rgb(12, 40, 64);
       
    }

    .container-opcoes {
     
    }

    .container-opcoes option {
        margin: 5px;
    }

    .container-titulo {
        width: 80%;
        padding: 0px;
        
        text-align: center;
        margin: 10px auto;
    }

    .container-box {
        width: 85%;
        flex-direction: column;
        align-items: center;
    }

    .content-box {
        margin: 10px;
        width: 90%;
        height: auto;
    }

    .content-box img {
        width: 100%;
        object-fit: fill;
        height: auto;
    }
    .text-Banner {
        display: none;
    }
    .text-Banner h3 {
        

    }
    .text-Banner h1 {
      
    }

}
@media only screen and (max-width: 640px) {
    header {
        height: 13vh;
    }

    .container-opcoes{
        display: none;
    }

    .container-lineBurger {
        display: block;
    }

    .container-lineBurger img {
        display: block;
        width: 100%;
    }
         .container-titulo h3 {
           
         }
    
         .container-titulo h1 {
            
         }
}
.sideBar{
    z-index: 99;
    height: 100vh;
    width: 00vw;
    background-color: rgb(12, 40, 64);
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-align: center;
    color: white;
    font-size: 6.5vw;
}
.sideBar .close{
    width: 100%;
    display: flex;
    justify-content: end;
    color: white;
}
.sideBar .close  h1{
    position: absolute;
    margin: 20px;
    margin-right: 40px;
    font-weight: 300;
}
.content-sideBar {
    width: 100%;
    height: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sideBar a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    color: white;

}
.sideBar hr{
    width: 250%;
}
.animationContato{
    transition: 1.5s;
    display: block;
    height: 0px;
    position: relative;
    overflow: hidden;
    bottom: 30px;   
}
.content-sideBar img{
width: 15px;
}
.animationContato a{
padding: 10px;
border-radius: 15px;
display: block;

}
.container-boxText{

        display: flex;
        width: 100%;
        margin: auto;
        padding: 10px 0px;
        background-color: rgb(2, 40, 64);
        justify-content: space-around;
        align-items: center;
        color: white;
}
.boxText{
    width: calc(100%/2);
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
 .text{
    width: calc(70%/2);
    text-align: start;
    font-size: 1.5vw;
}

.boxText.box-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4vw;
    justify-items: center;
    align-items: center;
}
.element-grid{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 21, 33);
    width: 80%;
    height: 70%;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    font-size: 1.15em
    
}
.container-grafico{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: calc(100%/2);

}
.container-grafico img{
    width: 20vw;
}
@media only screen and (max-width: 900px){
.text{
    
    }
}
@media only screen and (max-width: 640px) {

.container-boxText {
    width: 100%;
    flex-direction: column;
    }
.boxText {
    width: 90%;
    flex-direction: column;
    align-items: center;
    
        }
.text{
       
    text-align: center;
}
.element-grid {
    width: calc(150%/2);
    height: calc(120%/2);
    margin: 10px;
 
   
}
.container-grafico {
    width: 100%;

}

.container-grafico img {
    width: 30vw;
    }   
}
.textDemo{
    margin: 20px;
    width: 99%;
    margin-bottom: 0px;
    display: flex;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textDemo h1,h3{
  margin: 5px;
}

@media only screen and (max-width: 900px) {
    .textDemo{
    width: 80%;
    padding: 0px;
   text-align: center;
    margin: 10px auto;
}}
.rodape{
    color: white;
    width: 100%;
    background-color: rgb(2, 40, 64);
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}
.contatosContainer{
    display: flex;
    flex-direction: column;
}
.contatosContainer a{
 color: white;
 text-decoration: none;
 margin: 5px;
font-weight: bold;
font-size: 1em;

}
.rodape-contatos img{
width: 15px;

}
.rodape-endereço, .rodape-horario{

    text-align: center;
    
}
.rodape h5{
    font-size: 1em;
}

@media only screen and (max-width: 640px) {

.rodape {
        color: white;
        width: 99vw;
        background-color: rgb(2, 40, 64);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .contatosContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/*carrossel*/

.carrosel{
    overflow: hidden;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    overflow: hidden;
}
li {
    scroll-snap-align: center;
    display: inline-block;
    border-radius: 3px;
    font-size: 0;
}

.items {
    position: absolute;
    user-select: none;
    z-index: 1;
    width: 100vw;
height: 100%;
}

.items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 10%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active {
    width: 550px;
    height: auto;
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
    overflow-x: hidden;
}

.item.prev {
    z-index: 2;
    opacity: 0.55;
    transform: translate(-150%, -50%);
}

.item.next {
    z-index: 2;
    opacity: 0.55;
    transform: translate(50%, -50%);
}

.items .button-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
}

.button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
    z-index: 101;
}

.button img {
    width: 50px;
    padding: 20px 0px;
    background-color: white;
    border-radius: 10px;
}

.button-container .button:hover {
    opacity: 1;
}

.button-container .button:nth-child(1) {
    float: left;
    right: 250px;
}

.button-container .button:nth-child(2) {
    float: right;
    left: 250px;
}

/*organizando o posicionamento do botão next e prev*/

@media only screen and (max-width: 640px) {
    .carrosel{
        height: 280px;
    }
.item.active {
        width: 80%;
    }
    .item.prev {
        height: 40vw;
        transform: translate(-150%, -50%);
    }

    .item.next {
        height: 40vw;
        transform: translate(50%, -50%);
    }
     .items .button-container {
        position: relative;
        width: 100%;
        z-index: 100;
    }
   .button-container .button:nth-child(1) {
       float: left;
       right: 35vw;
   }

   .button-container .button:nth-child(2) {
       float: right;
       left: 35vw;
   }
   .button img {
       width: 30px;
   }
}.dropdown {
    position: relative;
    display: inline-block;

}

.dropbtn {
    color: white;
    border-radius: 10px;
    cursor: pointer;

}

.dropdown-content {
    width: 110%;
    height: 0px;
    visibility: hidden;
    background-color: rgb(12, 40, 64);
    border-radius: 10px;
    transition: 0.4s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    z-index: 1;
    position: absolute;

}

.conteudo-contato {
    flex-wrap: nowrap;
    left: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-contato a img {
    width: 15px;
    height: auto;
    border-radius: 15px;
    position: absolute;
    border-radius: 150px;
    top: -10px;
    left: 0.5px;
    bottom: 5px;

}

.conteudo-contato a {
    font-size: 1.4vw;
    width: 100%;
    margin: 20px auto;

}

.conteudo-contato a img {
    font-size: 50px;
    position: relative;
    top: 2px;
    left: -2px;

}

#containerOptions .conteudo-contato a {
    box-sizing: content-box;
    font-size: 17px;
    width: 110px;
    position: relative;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 80px;
    left: 5px;
    margin-bottom: 7px;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.dropdown:hover .dropdown-content {
    visibility: visible;
    height: 190px;

}

.dropdown-content a:hover {
    background-color: rgb(12, 40, 64);
    visibility: visible
}
/* botao whatsapp------------------------*/
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: opacity 0.3s ease;
}

.whatsapp-button img {
    width: 50%;
    height: auto;
}

@media screen and (max-width: 767px) {
    .whatsapp-button {
        width: 50px;
        height: 50px;
        bottom: 30px;
        right: 15px;
    }

    .whatsapp-button img {
        width: 60%;
    }
}