body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
header{
    height: 20vh;
    background-color: rgb(12, 40, 64);
    overflow: hidden;

}
.container-header{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.logo{
    width: 50%;
}
.logo img{
max-width: 350px;
width: 60vw;
}
.container-opcoes{
    margin: 10px;
    margin-right: 50px;
    display: flex;
    color: white;
    font-size: 2vw;
}
.container-opcoes option{
    cursor: pointer;
    margin:10px;
}
.banner{
    overflow: hidden;
}
.banner img{
    width: 100%;
    object-fit: cover;
}
.container-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding: 80px;
    margin: auto;
}
.container-titulo h1,h3{
    margin: 0px;
    margin-bottom:10px ;
}
.container-box{
    display: flex;
    width: 90%;
    margin:  auto ;
    padding: 5px;
}
.content-box {
    width: calc(100%/3);
    margin: 10px;
    background-color: rgb(235, 233, 233);
    
}
.content-box img{
    width: 100%;

}
.texto-box{
    text-align: center;
}
@media only screen and (max-width: 900px) {       
    .container-opcoes {
            font-size: 3vw;
    }
  .container-titulo {

    width: 80%;
    padding: 0px;
    font-size: 3vw;
    text-align: center;
    }
  .container-box {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .content-box {
    margin: 10px;
    width: 100%;
  }
  .content-box img {
      width: 100%;

  }
}
