body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.elemento {
    opacity: 0;
    /* Inicialmente, o elemento está oculto */
    transform: translateY(20px);
    /* O elemento é deslocado para baixo */
    transition: opacity 0.9s ease, transform 0.5s ease;
    /* Transições suaves */
}
.animado {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.9s ease, transform 0.5s ease;
}
header {
    height: 13vh;
    background-color: rgb(12, 40, 64);
    overflow: hidden;
}

.container-header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50%;
}

.logo img {
    max-width: 350px;
    width: 60vw;
}

.container-opcoes {
    margin: 10px;
    margin-right: 50px;
    display: flex;
    color: white;
    font-size: 2vw;
}

.container-opcoes a {
    cursor: pointer;
    margin: 10px;
    color: white;
    text-decoration: none;
}

.container-lineBurger {
    display: none;
    width: 60px;
    margin-right: 20px;
}

.container-lineBurger img {
    width: 100%;
}
body h1{
    font-family: 'Montserrat', sans-serif;
}
.sobre{
    text-align: center;
    font-size: 1.2vw;
    margin: 50px;
}
@media only screen and (max-width: 640px) {
    .sobre{
        font-size: 2.5vw;
    }
    .container-opcoes {
        display: none;
    }
    .container-lineBurger {
        display: block;
        width: 60px;
        margin-right: 20px;
    }

}
/*sideBar*/
.sideBar {
    z-index: 99;
    height: 100vh;
    width: 00vw;
    background-color: rgb(12, 40, 64);
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-align: center;
    color: white;
    font-size: 6.5vw;
}

.sideBar .close {
    width: 100%;
    display: flex;
    justify-content: end;
    color: white;
}
.closeX{
    font-size: 1.5rem;
}

.sideBar .close h1 {
    position: absolute;
    margin: 20px;
    margin-right: 40px;
    font-weight: 300;
}

.content-sideBar {
    width: 100%;
    height: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sideBar a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;

}

.sideBar hr {
    width: 250%;
}

.animationContato {
    transition: 1.5s;
    display: block;
    height: 0px;
    position: relative;
    overflow: hidden;
    bottom: 30px;
}

.content-sideBar img {
    width: 15px;
}

.animationContato a {
    padding: 10px;
    border-radius: 15px;
    display: block;

}
/*rodape------------*/
.rodape {

    color: white;
    width: 100%;
    background-color: rgb(2, 40, 64);
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.contatosContainer {
    display: flex;
    flex-direction: column;
}

.contatosContainer a {
    color: white;
    text-decoration: none;
    margin: 5px;
    font-weight: bold;
    font-size: 1em;

}

.rodape-contatos img {
    width: 15px;

}

.rodape-endereço,
.rodape-horario {

    text-align: center;

}

.rodape h5 {
    font-size: 1em;
}

@media only screen and (max-width: 640px) {

    .rodape {
        color: white;
        width: 99vw;
        background-color: rgb(2, 40, 64);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contatosContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}