body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.elemento {
    opacity: 1;
    /* Inicialmente, o elemento está oculto */
    transform: translateY(20px);
    /* O elemento é deslocado para baixo */
    transition: opacity 0.9s ease, transform 0.5s ease;
    /* Transições suaves */
}
.animado {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.9s ease, transform 0.5s ease;
}
header {
    height: 20vh;
    background-color: rgb(12, 40, 64);
   

}

.container-header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40%;
}

.logo img {
    width: 100%;

}

.container-opcoes {
    margin: 10px;
    margin-right: 50px;
    display: flex;
    color: white;
    font-size: 2vw;
    align-items: center;
}

.container-opcoes a {
    cursor: pointer;
    margin: 10px;
    color: white;
    text-decoration: none;
}

.container-lineBurger {
    display: none;
    width: 60px;
    margin-right: 20px;
}

.container-lineBurger img {
    width: 100%;
}
body h1{
    font-family: 'Montserrat', sans-serif;
}
.sobre{
    text-align: center;
    font-size: 1.2vw;
    margin: 50px;
}
@media only screen and (max-width: 640px) {
    header {
        height: 17vh; 
    }
    .logo {
        width: 65%;
    }
    .logo img {
        width: 100%;
        
    }
    .sobre{
        font-size: 2.5vw;
    }
    .container-opcoes {
        display: none;
    }
    .container-lineBurger {
        display: block;
        width: 60px;
        margin-right: 20px;
    }

}
/*sideBar*/
.sideBar {
    z-index: 99;
    height: 100vh;
    width: 00vw;
    background-color: rgb(12, 40, 64);
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-align: center;
    color: white;
    font-size: 6.5vw;
}

.sideBar .close {
    width: 100%;
    display: flex;
    justify-content: end;
    color: white;
}
.closeX{
    font-size: 1.5rem;
}

.sideBar .close h1 {
    position: absolute;
    margin: 20px;
    margin-right: 40px;
    font-weight: 300;
}

.content-sideBar {
    width: 100%;
    height: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sideBar a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;

}

.sideBar hr {
    width: 250%;
}

.animationContato {
    transition: 1.5s;
    display: block;
    height: 0px;
    position: relative;
    overflow: hidden;
    bottom: 30px;
}

.content-sideBar img {
    width: 15px;
}

.animationContato a {
    padding: 10px;
    border-radius: 15px;
    display: block;

}
/*rodape------------*/
.rodape {

    color: white;
    width: 100%;
    background-color: rgb(2, 40, 64);
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.contatosContainer {
    display: flex;
    flex-direction: column;
}

.contatosContainer a {
    color: white;
    text-decoration: none;
    margin: 5px;
    font-weight: bold;
    font-size: 1em;

}

.rodape-contatos img {
    width: 15px;

}

.rodape-endereço,
.rodape-horario {

    text-align: center;

}

.rodape h5 {
    font-size: 1em;
}

@media only screen and (max-width: 640px) {

    .rodape {
        color: white;
        width: 99vw;
        background-color: rgb(2, 40, 64);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contatosContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
.dropdown {
    position: relative;
    display: inline-block;

}

.dropbtn {
    color: white;
    border-radius: 10px;
    cursor: pointer;

}

.dropdown-content {
    width: 110%;
    height: 0px;
    visibility: hidden;
    background-color: rgb(12, 40, 64);
    border-radius: 10px;
    transition: 0.4s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    z-index: 1;
    position: absolute;

}

.conteudo-contato {
    flex-wrap: nowrap;
    left: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-contato a img {
    width: 15px;
    height: auto;
    border-radius: 15px;
    position: absolute;
    border-radius: 150px;
    top: -10px;
    left: 0.5px;
    bottom: 5px;

}

.conteudo-contato a{
    font-size: 1.4vw;
    width: 100%;
    margin: 20px auto;

}

.conteudo-contato a img {
    font-size: 50px;
    position: relative;
    top: 2px;
    left: -2px;

}

#containerOptions .conteudo-contato a {
    box-sizing: content-box;
    font-size: 17px;
    width: 110px;
    position: relative;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 80px;
    left: 5px;
    margin-bottom: 7px;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.dropdown:hover .dropdown-content {
    visibility: visible;
    height: 190px;

}

.dropdown-content a:hover {
    background-color: rgb(12, 40, 64);
    visibility: visible
}
/* botao whatsapp------------------------*/
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: opacity 0.3s ease;
}

.whatsapp-button img {
    width: 50%;
    height: auto;
}

@media screen and (max-width: 767px) {
    .whatsapp-button {
        width: 50px;
        height: 50px;
        bottom: 30px;
        right: 15px;
    }

    .whatsapp-button img {
        width: 60%;
    }
}